.like{
    color: red;
}
.pagination{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pagination ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.pagination ul li a{
    padding: 6px 15px 8px 15px;
    margin: 0 5px;
    border: 1px solid rgb(24, 118, 242);
    color: gray !important;
    background-color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.pagination ul li:first-child a,.pagination ul li:last-child a{
    padding: 6px 13px 8px 13px;
    margin: 0 10px;
}
.pagination ul li:first-child,.pagination ul li:last-child{
    background-color: #efefef;
}
.pagination ul .selected a{
    background-color: rgb(24, 118, 242);
    color: #fff !important;
}
.pagination ul li.disabled a{
    /* background-color: rgba(24, 118, 242, 0.4); */
    cursor: auto;
}