.registerinp{
    padding: 0 5px;
}

.registerinp:focus{
    outline: none;
}

.register{
    /* background-color: #080710; */
    background-image: url('./../../../Assets/images/pexels-pixabay-268533.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    height: 100vh;
    width: 100%;
}
.register form{
    background-color: rgba(0, 0, 0, 0.518);
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    border-radius: 10px;
    /* backdrop-filter: blur(2px); */
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.register .registerLable{
    display: block;
    margin-top: 15px;
    font-size: 16px !important;
    font-weight: 500;
}
.register .genderlable{
    font-size: 16px;
}
.register  .registerinp{
    display: block;
    height: 50px;
    width: 100%;
    /* border: none; */
    border: 2px solid rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #e5e5e5;
}
.register  .registerinp1{
    display: block;
    width: 100%;
    margin-top: 17px;
    /* border: 2px solid rgba(255,255,255,0.7); */
    border-radius: 3px;
    font-size: 14px;
    /* height: 50px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: #e5e5e5; */
}
::placeholder{
    color: #e5e5e5;
}
.register button{
    width: 100%;
    color: black;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* background-color: rgba(31, 44, 66 , 0.7); */
    background-color: #ffffffcf;
}